@model IEnumerable<HotelManagement.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.GuestIds)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.RoomIds)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.AdvanceAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.GuestIds)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.RoomIds)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.AdvanceAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
